*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 12%);
}
.full{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
}
.container{
    align-items: center;
    justify-content: center;
    margin: 150px;
    padding: 50px ;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    height:700px;
    width: 400px;
}
img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: hsl(0, 0%, 100%);
}
.ava{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
.location{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    text-align: center;
    font-size: 15px;
}
.desc{
    font-weight: 400;
    text-align: center;
}
.socials{
    width: 300px;
    background-color: hsl(0, 0%, 12%); 
    padding: 20px;
    border-radius: 10px;
}
.button{
    display: block;
    background-color:hsl(0, 0%, 20%); 
    color: white;
    text-align: center;
    padding: 12px 20px;
    margin-bottom: 10px; 
    font-size: 16px;
    border-radius: 5px; 
}
.button:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}